.width20 {
    min-width: 340px;
    width: 100%;
}

.card-img-top {
    height: 100vh;
    object-fit: cover;;
    border-radius: 20px 20px 0 0;
    transition: 0.2s;
}

.bg-dark-orange {
    background-color: #FFA000;
}

.card {
    border: none;
    border-radius: 20px 20px 20px 20px; ;
    transition: 0.2s;
}

.card-title-accueil {
    font-size: 2.5rem;
    font-weight: 600;
    color: #704837;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card-body-20 {
    min-height: 14em;
}

.card-text-accueil {
    font-size: 1.2rem;
    font-weight: 400;
    color: #704837;
}

.a-accueil:hover {
    text-decoration: none;
}
