.comp-nav {

    max-height: 10vh;
    .bg-orange {
        background-color: #FFB349;
    }
    
    .navbar.text-brown a{
        color: #704837 !important;
        font-weight: 700;
    }
    
    .navbar {
        top: 0;
        width: 100%;
    }
}